@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width:10px;
  height: 8px;
}

body::-webkit-scrollbar-thumb{
  background-color: #DAE4FD;
}

.tasksHolder::-webkit-scrollbar-thumb{
  background-color: #DAE4FD;
  border-top-right-radius: 24px;
}

.tasksHolder::-webkit-scrollbar-track{
  background-color: #E0E0E0;
  border-top-right-radius: 24px;
}

::-webkit-scrollbar-track:hover{
  background-color: #BDBDBD;
}

body:is(.tasksHolder){
  overflow: scroll;
}

@layer {
  body{
    @apply h-screen w-screen overflow-x-hidden -tracking-[.035em] !important
  }
  .App{
    @apply w-screen h-screen font-mainFont 
  }
  /*navBar section*/
  .navBar{
    @apply flex items-center sticky left-0 top-0
    bg-white px-6 py-5 w-full h-16 gap-6 
    shadow-navBarBox z-20 !important
  }
  .logoHolder{
    @apply cursor-pointer flex items-center md:w-[32%] justify-between
  }
  .boardName{
    @apply text-lg font-medium -tracking-[.035em]
  }
  .line{
    @apply hidden md:block h-[180%] border border-solid
    border-borderColor !important
  }
  .searchSettings{
    @apply flex flex-col py-2 md:py-0 gap-4 md:gap-0 bg-white 
    md:bg-none h-screen md:h-fit shadow-navBarBox 
    md:shadow-none px-2 md:px-0 top-0 right-0 
    md:top-0 w-[60%] md:flex-row fixed md:relative
    md:items-center md:justify-between md:w-[65%] 
    !important
  }
  .boardSelection{
    @apply cursor-pointer w-[140px] md:w-fit flex 
    items-center px-4 py-2 rounded-lg gap-[13px] 
    text-selectionBoardColor bg-selectionBoardBg
    text-[12px] ; 
  }
  .searchHolder{
    @apply flex items-center gap-3 w-[60%] !important
  }
  .searcher{
    @apply flex md:items-center w-full flex-col md:flex-row gap-11 !important
  }
  .format{
    @apply flex items-center bg-white rounded-lg w-[150%] md:w-fit 
    shadow-searchBox h-[46px] px-2 py-1 !important
  }
  .searchInput{
    @apply border-none outline-none w-full  h-full px-1 !important
  }
  .searchBtn{
    @apply hidden md:flex right-5 md:right-0 text-white cursor-pointer
    bg-searchBtnBg h-full px-2 py-[2px] text-sm rounded-lg 
    -tracking-[.03em] font-medium !important
  }
  .closeBtn{
    @apply flex md:hidden absolute md:relative right-5 md:right-0 text-white 
    cursor-pointer bg-searchBtnBg h-fit w-fit p-[2px]
    text-sm rounded -tracking-[.03em] font-medium !important
  }
  .userData{
    @apply flex items-center gap-[11px] cursor-pointer
  }
  .userImage{
    @apply h-12 w-12 rounded-xl
  }
  .username{
    @apply font-bold text-sm
  }
  .userInfo{
    @apply flex items-center gap-8
  }
  .userDrop{
    @apply absolute flex justify-center px-2 py-2 gap-3 flex-col 
    h-[110px] w-[11.5%] rounded-lg bg-white shadow-navBarBox top-[70px] 
    right-[30px] !important ; 
  }
  .account {
    @apply w-full rounded-xl cursor-pointer h-10 duration-300 
    ease-in-out px-3 hover:text-white flex items-center gap-2 !important
  }
  .githubAccount{
    @apply hover:bg-gray-300
  }
  .LogOut{
    @apply hover:bg-red-400 !important
  }
  /*file section*/
  .file{
    @apply flex items-center justify-between w-full px-6 py-9
  }
  .fileSettings {
    @apply flex items-center gap-[18px]
  }
  .usersTable{
    @apply hidden md:flex items-center gap-4
  }
  .usersConatiner{
    @apply hidden md:flex items-center gap-[15px]
  }
  .image{
    @apply h-9 w-9 
  }
  .addUsersBtn{
    @apply flex items-center justify-center h-9 w-9 
    rounded-xl bg-searchBtnBg text-white cursor-pointer
  }
  .visibility{
    @apply z-20 absolute top-[23%] left-[23px] border border-solid
     border-borderColor h-fit bg-white md:bg-transparent
     w-fit rounded-xl shadow-fileBox px-3 py-[9px] !important
  }
  .selection {
    @apply mb-4 !important
  }
  .tableTitle{
    @apply text-tableVisibility flex items-center gap-x-2 
    font-semibold -tracking-[.035em] !important  ; 
  }
  .choser{
    @apply flex flex-col gap-y-3 h-fit w-full cursor-image p-[13px] 
    duration-200 ease-in-out rounded-lg hover:bg-selectionBoardBg
  }
  .adjust-description{
    @apply text-selectionBoardColor text-sm
  }
  .addUsers{
    @apply absolute top-[150px] left-[300px] h-fit w-fit px-3 py-[9px]
    rounded-xl border-borderColor border z-20
    border-solid shadow-fileBox !important ; 
  }
  .userList{
    @apply mt-[10px] border border-solid border-borderColor shadow-fileBox 
    flex flex-col gap-y-[16px] p-[11px] rounded-lg !important ; 
  }
  .user{
    @apply flex items-center w-full h-fit justify-between
  }
  .userToAdd{
    @apply cursor-pointer flex items-center gap-[13px] h-full p-2
  }
  .userImg{
    @apply flex items-center justify-center h-8 w-8 rounded-lg
     bg-userToAddBg text-white text-sm -tracking-[.035em]
  }
  .admin{
    @apply cursor-pointer text-selectionBoardColor text-sm
  }
  .member{
    @apply cursor-pointer flex border-removeBtn border-solid border text-sm
    text-removeBtn rounded-lg px-[11.5px] py-[4.5px] !important
  }

  .board{
    @apply fixed z-20 right-0 top-0 md:top-16 h-screen md:h-[90%] 
    w-full sm:w-[50%] md:w-[25%] overflow-y-scroll
    px-5 py-[23px] bg-white shadow-descriptionBox !important
  }
  .Title{
    @apply flex items-center justify-between w-full 
  }
  .closebtn{
    @apply cursor-pointer
  }
  .userCreator{
    @apply flex items-center gap-x-2 h-fit w-fit px-1 py-2 
    text-userToAddBg text-[12px] font-semibold
  }
  .User{
    @apply flex items-center gap-x-3 h-fit w-fit px-1 
  }
  .userCreatorInfo{
    @apply flex flex-col justify-center gap-y-2 h-fit w-fit py-1
  }
  .userCreatorName{
    @apply text-userCreatorColor text-sm -tracking-[.035em] 
    font-semibold !important
  }
  .userCreationDate{
    @apply text-userToAddBg font-semibold text-[12px] -tracking-[.035em]
  } 
  .Description{
    @apply px-1
  }
  .textarea{
    @apply border-userToAddBg border border-solid outline-none 
    resize-none rounded-lg p-[13px] w-full !important
  }
  .desciptionBtns{
    @apply  px-1 flex items-center gap-x-3
  }
  .btn{
    @apply cursor-pointer flex items-center justify-center w-16 h-8 
    rounded-lg font-medium text-sm -tracking-[.035em] 
  }
  .Btn1{
    @apply bg-saveBtn text-white
  }
  .Btn2{
    @apply text-selectionBoardColor 
  }

  .toDo{
    @apply pt-3 md:px-6 px-0
  }
  /*tasksHolder Component*/
  .tasksHolder{
    @apply flex items-start w-screen md:w-[96.6vw] snap-x
    gap-7 bg-tableTasks h-screen shadow-tableBox
    md:h-[80vh] px-6 py-[28px] overflow-auto 
    rounded-t-3xl !important
  }
  .taskcolumn{
    @apply snap-center w-full px-[13px] py-2 !important
  }
  .addList{
    @apply bg-addListBg text-sm
    text-searchBtnBg rounded-lg cursor-pointer 
    !important
  }
  .tag{
    @apply relative flex items-center justify-between w-full
  }
  .tagname{
    @apply text-sm font-medium text-userCreatorColor
    !important
  }
  .spred{
    @apply cursor-pointer rounded-md flex items-center 
    justify-center h-9 w-9 duration-200 ease-in-out
    hover:bg-slate-200
  }
  .taskColumnSettings{
    @apply absolute -right-[25%] w-fit h-fit top-7 flex flex-col gap-y-2 
    px-3 py-3 bg-white text-selectionBoardColor text-sm
    -tracking-[.035em] rounded-xl shadow-fileBox !important
  }
  .SettingInfo{
    @apply cursor-pointer w-full h-9 flex items-center px-1 py-[2px] 
    duration-200 ease-in-out hover:bg-tableVisibility rounded-md
    hover:text-white
  }
  .toDoCards{
    @apply w-[320px] grid grid-cols-1 gap-6 py-3
  }
  .taskCard{
    @apply w-full cursor-pointer flex flex-col p-3 rounded-xl 
    bg-white shadow-descriptionBox !important
  }
  .taskImage{
    @apply rounded-xl
  }
  .taskTitle{
    @apply my-2 text-base -tracking-[.035em] font-medium
    !important ; 
  }
  .tags{
    @apply flex items-center flex-wrap gap-x-3 gap-y-2 mb-2
  }
  .tagNameTable{
    @apply px-[9px] py-[2px] text-xs font-medium 
    rounded-lg !important 
  }
  .users{
    @apply w-full flex items-center justify-between
  }
  .usersHolder{
    @apply flex items-center gap-x-2
  }
  .comments{
    @apply flex items-center gap-x-2 text-userToAddBg text-xl
  }

  .CardHolder{
    @apply absolute z-20 top-0 left-0 flex items-center justify-center
    bg-gray-500/50 h-[130vh] md:h-[110vh] w-screen
  }
  .CardDataDescription{
    @apply relative p-3 md:px-6 md:py-5 h-[90vh] overflow-y-auto
    w-full md:w-[65%] bg-white shadow-fileBox rounded-lg !important
  }
  .CloseBtn{
    @apply absolute top-[6px] right-2 flex items-center justify-center 
    h-10 w-10 shadow-closeBox bg-searchBtnBg rounded-xl text-white 
    cursor-pointer !important ; 
  }
  .cardImage{
    @apply h-[190px] w-full rounded-xl !important
  }
  .Details{
    @apply flex items-start justify-start gap-x-5
  }
  .Content{
    @apply basis-[70%] 
  }
  .CardDestailTitle{
    @apply font-normal text-lg mb-1 !important
  }
  .CardList{
    @apply font-semibold text-sm text-userToAddBg
  }
  .listId{
    @apply text-black !important
  }
  .desciptionDetails{
    @apply flex items-center gap-3
  }
  .sectionTitle{
    @apply px-0 !important
  }
  .editFile{
    @apply cursor-pointer flex justify-center items-center gap-x-2 
    h-9 w-fit px-[13.5px] py-[7.5] border border-solid border-userToAddBg
    duration-200 ease-in-out hover:border-tableVisibility
    hover:text-userCreatorColor rounded-lg text-sm font-medium
    text-userToAddBg !important
  }
  .Description{
    @apply text-sm
  }
  .commentUser{
    @apply bg-white shadow-commentBox px-[13px] py-3 rounded-xl !important
  }
  .Comments{
    @apply flex w-full items-start gap-x-3
  }
  .comment{
    @apply w-full
  }
  .commentData{
    @apply border-none !important
  }
  .CommentBtnHolder{
    @apply flex justify-end w-full 
  }
  .commentBtn{
    @apply bg-searchBtnBg rounded-lg text-sm text-white
    px-[12.75px] py-[4.5px] w-fit cursor-pointer 
  }
  .commentsHolder{
    @apply w-full !important 
  }
  .commentOfUser{
    @apply w-full !important
  }
  .headComment{
    @apply flex w-full items-center justify-between 
  }
  .commentLeftSide{
    @apply flex items-center gap-x-3
  }
  .UserCommentName{
    @apply text-base font-medium !important
  }
  .CreationDate{
    @apply font-medium text-sm text-userToAddBg !important
  }
  .BtnSettings{
    @apply cursor-pointer h-fit w-fit p-2 bg-red-500/90 rounded-lg capitalize
    font-medium text-white !important
  }
  .Settings{
    @apply basis-[30%] px-1 py-[2px]
  }
  .Cardactions{
    @apply flex flex-col gap-y-3
  }
  .actionData{
    @apply flex justify-start items-center gap-x-2 h-10 w-full
    bg-selectionBoardBg capitalize font-medium text-sm
    px-3 py-2 text-selectionBoardColor rounded-lg cursor-pointer
  }
  .MembersDetails{
    @apply flex flex-col items-start gap-y-[18px]
  }
  .userHolder{
    @apply cursor-pointer w-full flex items-center gap-x-4
  }
}