@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
  width:10px;
  height: 8px;
}

body::-webkit-scrollbar-thumb{
  background-color: #DAE4FD;
}

.tasksHolder::-webkit-scrollbar-thumb{
  background-color: #DAE4FD;
  border-top-right-radius: 24px;
}

.tasksHolder::-webkit-scrollbar-track{
  background-color: #E0E0E0;
  border-top-right-radius: 24px;
}

.userList::-webkit-scrollbar-thumb{
  background-color: #DAE4FD;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.userList::-webkit-scrollbar-track{
  background-color: #E0E0E0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-track:hover{
  background-color: #BDBDBD;
}

body:is(.tasksHolder){
  overflow: scroll;
}

@layer {
  body{
    @apply h-screen w-screen overflow-x-hidden -tracking-[.035em] !important
  }
  .App{
    @apply w-screen h-screen font-mainFont 
  }
  /*navBar section*/
  .navBar{
    @apply flex items-center sticky left-0 top-0
    bg-white px-6 py-5 w-full h-16 gap-6 
    shadow-navBarBox z-20 !important
  }
  .logoHolder{
    @apply cursor-pointer flex items-center md:w-[32%] justify-between
  }
  .boardName{
    @apply text-lg font-medium -tracking-[.035em]
  }
  .line{
    @apply hidden md:block h-[180%] border border-solid
    border-borderColor !important
  }
  .searchSettings{
    @apply flex flex-col py-2 md:py-0 gap-4 md:gap-0
    bg-white md:bg-none h-screen md:h-fit 
    shadow-phonenavBarBox md:shadow-none px-2 
    md:px-0 top-0 right-0 md:top-0 w-[60%] md:flex-row 
    fixed md:relative
    md:items-center md:justify-between md:w-[65%] 
    !important
  }
  .boardSelection{
    @apply cursor-pointer w-[140px] md:w-fit flex 
    items-center px-4 py-2 rounded-lg gap-[13px] 
    text-selectionBoardColor bg-selectionBoardBg
    text-[12px] !important ; 
  }
  .searchHolder{
    @apply flex items-center gap-3 w-[60%] !important
  }
  .searcher{
    @apply flex md:items-center w-[150%] flex-col md:flex-row gap-11 !important
  }
  .format{
    @apply absolute md:relative top-20 md:top-0 
    flex items-center bg-white
    rounded-lg w-[95%] md:w-fit 
    shadow-searchBox h-[46px] px-2 py-1 !important
  }
  .CoverFormat{
    @apply flex items-center bg-white
    rounded-lg w-full md:w-fit 
    shadow-searchBox h-[46px] px-2 py-1 !important
  }
  .CardFormat{
    @apply flex items-center bg-white 
    rounded-lg w-full md:w-fit 
    shadow-searchBox h-[46px] px-2 py-1 !important
  }
  .searchInput{
    @apply border-none outline-none w-full h-full px-1 !important
  }
  .searchBtn{
    @apply flex right-5 md:right-0 text-white cursor-pointer
    bg-searchBtnBg h-full px-2 py-[2px] text-sm rounded-lg 
    -tracking-[.03em] font-medium !important
  }
  .closeBtn{
    @apply flex md:hidden absolute md:relative right-5 md:right-0 text-white 
    cursor-pointer bg-searchBtnBg h-fit w-fit p-[2px]
    text-sm rounded -tracking-[.03em] font-medium !important
  }
  .userData{
    @apply flex items-center
    gap-[11px] cursor-pointer absolute bottom-3 
    md:relative md:top-0 w-fit
  }
  .userImage{
    @apply relative h-9 w-9 rounded-xl !important
  }
  .userInfo{
    @apply flex items-center gap-8 w-[90%]
    justify-between md:justify-start !important
  }
  .username{
    @apply font-bold text-sm 
  }
  .addUserToTask{
    @apply p-1 cursor-pointer
  }
  .check{
    @apply text-saveBtn
  }
  .notCheck {
    @apply text-searchBtnBg
  }
  .userDrop{
    @apply absolute flex justify-center 
    px-2 py-2 gap-3 flex-col w-[150px]
    h-[110px]  rounded-lg 
    bg-white shadow-navBarBox md:top-[70px] 
    top-[73vh] left-[41.5%] md:left-[85%] !important ; 
  }
  .account {
    @apply w-full rounded-xl cursor-pointer h-10 duration-300 
    ease-in-out px-3 hover:text-white flex items-center gap-2 !important
  }
  .githubAccount{
    @apply hover:bg-gray-300
  }
  .LogOut{
    @apply hover:bg-red-400 !important
  }
  /*file section*/
  .file{
    @apply flex items-center justify-between w-full px-6 py-9
  }
  .fileSettings {
    @apply flex items-center justify-center gap-[18px]
  }
  .usersTable{
    @apply hidden md:flex items-center gap-4
  }
  .usersConatiner{
    @apply hidden md:flex items-center gap-x-3
  }
  .image{
    @apply h-9 w-9 
  }
  .addUsersBtn{
    @apply flex items-center justify-center h-9 w-9 
    rounded-xl bg-searchBtnBg text-white cursor-pointer
  }
  .visibility{
    @apply z-20 absolute top-[9.5em] left-[23px] border border-solid
     border-borderColor h-fit bg-white w-fit rounded-xl 
     shadow-fileBox px-3 py-[9px] !important
  }
  .selection {
    @apply mb-4 !important
  }
  .tableTitle{
    @apply text-tableVisibility flex items-center gap-x-2 
    font-semibold -tracking-[.035em] !important  ; 
  }
  .choser{
    @apply flex flex-col gap-y-3 h-fit w-full cursor-image p-[13px] 
    duration-200 ease-in-out rounded-lg hover:bg-selectionBoardBg
  }
  .adjust-description{
    @apply text-selectionBoardColor text-sm
  }
  .addUsers{
    @apply absolute top-[150px] left-[300px] h-fit 
    w-fit px-3 py-[9px]
    rounded-xl border-borderColor border z-20
    border-solid shadow-fileBox bg-white !important ; 
  }
  .addUsersToBoard{
    @apply absolute top-[42vh] right-0 h-fit 
    w-[20vw] px-3 py-[9px]
    rounded-xl border-borderColor border z-20
    border-solid shadow-fileBox bg-white !important ; 
  }
  .userList{
    @apply mt-[10px] border border-solid h-fit max-h-[200px] 
    overflow-x-auto border-borderColor shadow-fileBox 
    flex flex-col gap-y-2 p-[11px] rounded-lg !important ; 
  }
  .user{
    @apply relative flex items-center w-full h-fit justify-between
  }
  .userToAdd{
    @apply cursor-pointer flex items-center 
    gap-[13px] h-full p-2 w-full
  }
  .userImg{
    @apply flex items-center justify-center h-9 w-9 rounded-xl
    bg-userToAddBg text-white text-sm -tracking-[.035em]
  }
  .admin{
    @apply cursor-pointer text-selectionBoardColor text-sm
  }
  .member{
    @apply cursor-pointer flex items-center
    text-sm relative duration-500 ease-in-out
    text-removeBtn rounded-lg 
    hover:text-white hover:bg-removeBtn 
    !important
  }
  .board{
    @apply fixed z-10 right-0 top-14 md:top-16 h-[90%]
    w-full sm:w-[50%] md:w-[25%] overflow-y-scroll
    px-5 py-[23px] bg-white shadow-descriptionBox !important
  }
  .Title{
    @apply flex items-center justify-between w-full 
  }
  .closebtn{
    @apply cursor-pointer
  }
  .userCreator{
    @apply flex items-center gap-x-2 h-fit w-fit px-1 py-2 
    text-userToAddBg text-[12px] font-semibold
  }
  .User{
    @apply flex items-center gap-x-3 h-fit w-fit px-1 
  }
  .userCreatorInfo{
    @apply flex flex-col justify-center gap-y-2 h-fit w-fit py-1
  }
  .userCreatorName{
    @apply text-userCreatorColor text-sm -tracking-[.035em] 
    font-semibold !important
  }
  .userCreationDate{
    @apply text-userToAddBg font-semibold text-[12px] -tracking-[.035em]
  } 
  .Description{
    @apply px-1
  }
  .textarea{
    @apply border-userToAddBg border border-solid outline-none 
    resize-none rounded-lg p-[13px] w-full !important
  }
  .desciptionBtns{
    @apply  px-1 flex items-center gap-x-3
  }
  .btn{
    @apply cursor-pointer flex items-center justify-center w-16 h-8 
    rounded-lg font-medium text-sm -tracking-[.035em] 
  }
  .Btn1{
    @apply bg-saveBtn text-white
  }
  .Btn2{
    @apply text-selectionBoardColor 
  }

  .toDo{
    @apply w-screen pt-3 md:px-6 px-0
  }
  /*tasksHolder Component*/
  .tasksHolder{
    @apply flex items-start md:w-[96.6vw] snap-x
    gap-7 bg-tableTasks h-screen shadow-tableBox
    md:h-[80vh] px-6 py-[28px] overflow-auto 
    rounded-t-3xl w-full !important
  }
  .taskcolumn{
    @apply snap-center px-[13px] py-2 !important
  }
  .addList{
    @apply bg-addListBg text-sm w-full px-[13px] py-2
    text-searchBtnBg rounded-lg cursor-pointer 
    !important
  }
  .addListUnique{
    @apply bg-addListBg text-sm w-[316px] px-[13px] py-2
    text-searchBtnBg rounded-lg cursor-pointer 
    !important
  }
  .addanotherList{
    @apply w-[300px] bg-addListBg text-sm px-[13px] py-2
    text-searchBtnBg rounded-lg cursor-pointer 
    !important
  }
  .tag{
    @apply relative flex items-center justify-between w-full
  }
  .uniqueTag{
    @apply flex items-center justify-between w-[300px] !important
  }
  .tagname{
    @apply text-sm font-medium text-userCreatorColor
    !important
  }
  .spred{
    @apply cursor-pointer rounded-md flex items-center 
    justify-center h-9 w-9 duration-200 ease-in-out
    hover:bg-slate-200
  }
  .taskColumnSettings{
    @apply absolute -right-[2.5%] w-[75%] 
    h-fit top-10 flex flex-col gap-y-2 
    px-3 py-3 bg-white text-selectionBoardColor text-sm
    -tracking-[.035em] rounded-xl shadow-fileBox !important
  }
  .SettingInfo{
    @apply flex items-center justify-between w-full
    cursor-pointer h-9 px-1 py-[2px] duration-200 
    ease-in-out hover:bg-tableVisibility rounded-md
    hover:text-white 
  }
  .deleteList{
    @apply hover:bg-removeBtn !important
  }
  .toDoCards{
    @apply w-[320px] grid grid-cols-1 gap-6 py-3
  }
  .taskCard{
    @apply w-full cursor-pointer flex flex-col p-3 rounded-xl 
    bg-white shadow-descriptionBox !important
  }
  .taskImage{
    @apply rounded-xl w-[300px] h-[200px] !important
  }
  .taskTitle{
    @apply my-2 text-base -tracking-[.035em] font-medium
    !important ; 
  }
  .tags{
    @apply flex items-center flex-wrap gap-x-3 gap-y-2 mb-2
    max-h-[8vh] overflow-y-auto !important
  }
  .tagNameTable{
    @apply px-[9px] py-[2px] text-xs font-medium 
    rounded-lg cursor-pointer !important 
  }
  .users{
    @apply w-full flex items-center justify-between
  }
  .usersHolder{
    @apply flex items-center gap-x-2
  }
  .comments{
    @apply flex items-center gap-x-2 text-userToAddBg text-xl
  }
  .NoneCommentsHolder{
    @apply flex justify-center items-center
    h-full w-full 
  }
  .NoneCommentsChild{
    @apply flex justify-center gap-y-3 flex-col
    items-center h-full w-fit 
  }
  
  .CardHolder{
    @apply absolute z-20 top-0 left-0 flex items-center justify-center
    bg-gray-500/50 h-[130vh] md:h-[110vh] w-screen
  }
  .CardDataDescription{
    @apply relative p-3 md:px-6 md:py-5 h-[90vh] overflow-y-auto
    w-full md:w-[65%] bg-white shadow-fileBox rounded-lg !important
  }
  .CloseBtn{
    @apply absolute top-[6px] right-2 flex items-center justify-center 
    h-10 w-10 shadow-closeBox bg-searchBtnBg rounded-xl text-white 
    cursor-pointer !important ; 
  }
  .cardImage{
    @apply h-[190px] w-full rounded-xl !important
  }
  .Details{
    @apply relative flex items-start flex-col-reverse 
    gap-y-2 md:flex-row 
    justify-start gap-x-5 w-full
  }
  .Content{
    @apply basis-[100%] md:basis-[70%] w-full
  }
  .CardDestailTitle{
    @apply font-normal text-lg mb-1 !important
  }
  .CardList{
    @apply font-semibold text-sm text-userToAddBg
  }
  .listId{
    @apply text-black !important
  }
  .desciptionDetails{
    @apply flex items-center gap-3
  }
  .sectionTitle{
    @apply px-0 !important
  }
  .editFile{
    @apply cursor-pointer flex justify-center items-center gap-x-2 
    h-9 w-fit px-[13.5px] py-[7.5] border border-solid border-userToAddBg
    duration-200 ease-in-out hover:border-tableVisibility
    hover:text-userCreatorColor rounded-lg text-sm font-medium
    text-userToAddBg !important
  }
  .Description{
    @apply text-sm
  }
  .commentUser{
    @apply bg-white shadow-commentBox px-[13px] py-3 rounded-xl !important
  }
  .Comments{
    @apply flex w-full items-start gap-x-3
  }
  .comment{
    @apply w-full
  }
  .commentData{
    @apply border-none !important
  }
  .CommentBtnHolder{
    @apply flex justify-end w-full 
  }
  .commentBtn{
    @apply bg-searchBtnBg rounded-lg text-sm text-white
    px-[12.75px] py-[4.5px] w-fit cursor-pointer 
  }
  .commentsHolder{
    @apply w-full !important 
  }
  .commentOfUser{
    @apply w-full !important
  }
  .headComment{
    @apply flex w-full items-center justify-between 
  }
  .commentLeftSide{
    @apply flex items-center gap-x-3
  }
  .UserCommentName{
    @apply text-base font-medium !important
  }
  .CreationDate{
    @apply font-medium text-sm text-userToAddBg !important
  }
  .BtnSettings{
    @apply flex items-center gap-x-2 
    cursor-pointer h-fit w-fit p-2
    bg-red-500/90 rounded-lg capitalize
    font-medium text-white !important
  }
  .Settings{
    @apply relative w-full basis-0 md:basis-[30%] p-0 md:px-1 md:py-[2px]
  }
  .Cardactions{
    @apply flex gap-x-2 items-center 
    relative w-full md:flex-col md:gap-y-3
  }
  .actionData{
    @apply flex justify-start items-center gap-x-2 h-10 w-full
    bg-selectionBoardBg capitalize font-medium text-sm
    px-3 py-2 text-selectionBoardColor rounded-lg cursor-pointer
  }
  .addImage{
    @apply w-fit !important
  }
  .MembersHolder{
    @apply absolute right-0 top-12 md:top-0 w-[50vw]  
    md:p-0 border-solid border md:w-full md:relative 
    border-borderColor rounded-xl px-3 py-2 md:border-none md:rounded-none 
    shadow-fileBox bg-white md:shadow-none !important
  }
  .MembersDetails{
    @apply flex flex-col items-start gap-y-3 md:gap-y-[18px] mb-5
    max-h-[21.7vh] overflow-y-auto !important
  }
  .userHolder{
    @apply cursor-pointer w-full flex items-center gap-x-4
  }
  .Cover{
    @apply absolute top-[50px] md:top-[100px] h-[45vh] 
    w-[60vw] right-0 sm:w-[40vw] md:w-[20vw] overflow-y-auto 
    rounded-xl px-3 py-2 bg-white shadow-fileBox 
    border border-solid border-borderColor !important
  }
  .photoTitle{
    @apply font-semibold text-sm text-tableVisibility !important
  }
  .coverDetails{
    @apply text-selectionBoardColor text-sm font-normal mb-2 !important
  }
  .loader{
    @apply h-[20vh] w-full flex items-center justify-center !important
  }
  .imagesHolder{
    @apply flex items-center justify-center flex-wrap gap-x-2 
    gap-y-3 mt-3 ; 
  }
  .imageHolder{
    @apply relative cursor-pointer rounded !important
  }
  .imageHolder2{
    @apply h-12 w-12 !important
  }
  .dataUserOverlay{
    @apply absolute top-0 left-0 h-9 w-9 rounded-xl bg-gray-500/50
    text-base text-white flex items-center justify-center !important
  }
  .Labels{
    @apply top-[50px] md:top-[150px] !important
  }
  .LabelsTitle{
    @apply flex items-center gap-x-[6px] text-sm font-semibold
    text-userToAddBg my-2 !important
  }
  .TagBgHolder{
    @apply mt-2 w-full flex items-center gap-2 flex-wrap
  }
  .TagColor{
    @apply w-[50px] h-8 rounded cursor-pointer !important
  }
  .addNewTag{
    @apply w-full h-10 flex items-center justify-center
  }
  .addBtn{
    @apply text-white text-sm px-6 py-2 bg-searchBtnBg 
    rounded-xl mt-2 !important
  }

  .DeletePopOut{
    @apply fixed w-screen h-[110vh] z-30
    bg-gray-500/50 top-0 left-0 flex items-center
    justify-center !important
  }
  .DeletePopOutCover{
    @apply fixed w-screen h-[110vh] z-30
    bg-gray-500/50 top-0 left-0 flex justify-center !important
  }
  .deletePop{
    @apply relative h-fit w-[70vw] md:w-[25vw] 
    p-5 flex items-center justify-center flex-col 
    gap-y-3 rounded-xl shadow-fileBox
    bg-white !important
  }
  .deletePopCover{
    @apply relative h-fit w-[80vw] md:w-[30vw] p-5 
    top-[20%] flex items-center
    justify-center flex-col gap-y-3 rounded-xl
    shadow-fileBox
    bg-white !important
  }
  .formatRename{
    @apply w-full !important
  }
  .btnHodler{
    @apply flex items-center gap-x-3 
  }
  .CommentBtn{
    @apply text-sm px-6 py-2 
    rounded-lg cursor-pointer !important
  }
  .YupBtn{
    @apply bg-removeBtn text-white !important
  }
  .NopeBtn{
    @apply bg-saveBtn text-white !important
  }
  .AddListPop{
    @apply w-[26vw] !important
  }
  .BtnFormHolder{
    @apply flex items-center gap-x-3
  }
  .BtnCardHolder{
    @apply flex items-end justify-end w-full
  }
  .BtnAdd{
    @apply flex items-center gap-x-1 px-3 py-2
    bg-searchBtnBg rounded-xl text-white text-sm
    font-medium cursor-pointer !important
  }
  .newCardImage{
    @apply h-[20vh] w-full rounded-lg !important
  }
}