@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  body{
    @apply h-screen w-screen overflow-x-hidden !important
  }
  .App{
    @apply w-screen h-screen font-mainFont 
  }
  /*navBar section*/
  .navBar{
    @apply flex items-center px-6 py-5 w-full h-16 gap-6 shadow-navBarBox !important
  }
  .logoHolder{
    @apply cursor-pointer flex items-center md:w-[32%] justify-between
  }
  .boardName{
    @apply text-lg font-medium -tracking-[.035em]
  }
  .line{
    @apply hidden md:block h-[180%] border border-solid border-borderColor !important
  }
  .searchSettings{
    @apply flex flex-col gap-4 md:gap-0 bg-white 
    md:bg-none h-screen md:h-fit shadow-navBarBox 
    md:shadow-none px-2 md:px-0 top-4 right-0 
    md:top-0 w-[60%] md:flex-row absolute md:relative
    md:items-center md:justify-between md:w-[65%] 
    !important
  }
  .boardSelection{
    @apply cursor-pointer w-[140px] md:w-fit flex 
    items-center px-4 py-2 rounded-lg gap-[13px] 
    text-selectionBoardColor bg-selectionBoardBg
    text-[12px] ; 
  }
  .searchHolder{
    @apply flex items-center gap-3 w-[60%] !important
  }
  .searcher{
    @apply flex md:items-center w-full flex-col md:flex-row gap-11 !important
  }
  .format{
    @apply flex items-center bg-white rounded-lg w-[150%] md:w-fit 
    shadow-searchBox h-[46px] px-2 py-1 !important
  }
  .searchInput{
    @apply border-none outline-none w-full  h-full px-1 !important
  }
  .searchBtn{
    @apply hidden md:flex right-5 md:right-0 text-white cursor-pointer
    bg-searchBtnBg h-full px-2 py-[2px] text-sm rounded-lg 
    -tracking-[.03em] font-medium !important
  }
  .closeBtn{
    @apply flex md:hidden absolute md:relative right-5 md:right-0 text-white 
    cursor-pointer bg-searchBtnBg h-fit w-fit p-[2px]
    text-sm rounded -tracking-[.03em] font-medium !important
  }
  .userData{
    @apply flex items-center gap-[11px] cursor-pointer
  }
  .userImage{
    @apply h-12 w-12 rounded-xl
  }
  .username{
    @apply font-bold text-sm
  }
  .userInfo{
    @apply flex items-center gap-8
  }
  .userDrop{
    @apply absolute flex justify-center px-2 py-2 gap-3 flex-col 
    h-[110px] w-[11.5%] rounded-lg bg-white shadow-navBarBox top-[70px] 
    right-[30px] !important ; 
  }
  .account {
    @apply w-full rounded-xl cursor-pointer h-10 duration-300 
    ease-in-out px-3 hover:text-white flex items-center gap-2 !important
  }
  .githubAccount{
    @apply hover:bg-gray-300
  }
  .LogOut{
    @apply hover:bg-red-400 !important
  }
  /*file section*/
  .file{
    @apply flex items-center justify-between w-full px-6 py-9
  }
  .fileSettings {
    @apply flex items-center gap-[18px]
  }
  .usersTable{
    @apply hidden md:flex items-center gap-4
  }
  .usersConatiner{
    @apply hidden md:flex items-center gap-[15px]
  }
  .image{
    @apply h-9 w-9 
  }
  .addUsersBtn{
    @apply flex items-center justify-center h-9 w-9 
    rounded-lg bg-searchBtnBg text-white cursor-pointer
  }
  .visibility{
    @apply relative -top-3 left-[23px] border border-solid
     border-borderColor h-fit bg-white md:bg-transparent
     w-fit rounded-xl shadow-fileBox px-3 py-[9px] !important
  }
  .selection {
    @apply mb-4 !important
  }
  .tableTitle{
    @apply text-tableVisibility flex items-center gap-x-2 
    font-semibold -tracking-[.035em] !important  ; 
  }
  .choser{
    @apply flex flex-col gap-y-3 h-fit w-full cursor-image p-[13px] 
    duration-200 ease-in-out rounded-lg hover:bg-selectionBoardBg
  }
  .adjust-description{
    @apply text-selectionBoardColor text-sm
  }
  .addUsers{
    @apply absolute top-[150px] left-[300px] h-fit w-fit px-3 py-[9px] rounded-xl border-borderColor border 
    border-solid shadow-fileBox !important ; 
  }
  .userList{
    @apply mt-[10px] border border-solid border-borderColor shadow-fileBox 
    flex flex-col gap-y-[16px] p-[11px] rounded-lg !important ; 
  }
  .user{
    @apply flex items-center w-full h-fit justify-between
  }
  .userToAdd{
    @apply cursor-pointer flex items-center gap-[13px] h-full p-2
  }
  .userImg{
    @apply flex items-center justify-center h-8 w-8 rounded-lg
     bg-userToAddBg text-white text-sm -tracking-[.035em]
  }
  .admin{
    @apply cursor-pointer text-selectionBoardColor text-sm
  }
  .member{
    @apply cursor-pointer flex border-removeBtn border-solid border text-sm
    text-removeBtn rounded-lg px-[11.5px] py-[4.5px] !important
  }

  .board{
    @apply absolute right-0 top-16 h-[90%] w-full sm:w-[50%] md:w-[25%] overflow-y-scroll
    px-5 py-[23px] bg-white shadow-descriptionBox !important
  }
  .Title{
    @apply flex items-center justify-between w-full 
  }
  .closebtn{
    @apply cursor-pointer
  }
  .userCreator{
    @apply flex items-center gap-x-2 h-fit w-fit px-1 py-2 
    text-userToAddBg text-[12px] font-semibold
  }
  .User{
    @apply flex items-center gap-x-3 h-fit w-fit px-1 
  }
  .userCreatorInfo{
    @apply flex flex-col justify-center gap-y-2 h-fit w-fit py-1
  }
  .userCreatorName{
    @apply text-userCreatorColor text-sm -tracking-[.035em] 
    font-semibold !important
  }
  .userCreationDate{
    @apply text-userToAddBg font-semibold text-[12px] -tracking-[.035em]
  } 
  .Description{
    @apply px-1
  }
  .textarea{
    @apply border-userToAddBg border border-solid outline-none 
    resize-none rounded-lg p-[13px] w-full !important
  }
  .desciptionBtns{
    @apply  px-1 flex items-center gap-x-3
  }
  .btn{
    @apply cursor-pointer flex items-center justify-center w-16 h-8 
    rounded-lg font-medium text-sm -tracking-[.035em]
  }
  .Btn1{
    @apply bg-saveBtn text-white
  }
  .Btn2{
    @apply text-selectionBoardColor 
  }
}